{% extends 'base.html' %}

{% block title %}
    Add Company
{% endblock %}

{% block context %}
    <div class="row">
        <form action="{% url 'add-company' %}" method="post">
            <div class="col-lg-6 col-lg-offset-3">
                {% csrf_token %}
                {% include 'form_include.html' %}
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <input type="submit" class="pull-right btn btn-sm btn-success" value="Save">
            </div>
        </form>
    </div>
{% endblock %}