{% extends 'base.html' %}

{% block title %}
    Post Create
{% endblock %}

{% block upper_context %}
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
            <h1 class="page-header"><a href="{% url 'home' %}"><small
                    class="glyphicon glyphicon-circle-arrow-left"></small></a>Post Create</h1>
        </div>
    </div>
{% endblock %}

{% block context %}
    <div class="row">
        <div class="col-lg-7 col-lg-offset-3">
            <form action="{% url 'post-create' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% include 'form_include.html' %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="submit" value="Save" class="pull-right btn-md btn-success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}