{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block upper_context %}
    {% endblock %}
</head>
<body style="padding: 70px;">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KTU MEBSIS</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
{% include 'messages.html' %}
{% block context %}
{% endblock %}
</body>
</html>